@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 1em;
    text-align: center;
}
h1 {
    letter-spacing: 1.5em;
    font-weight: 300;
}
ol {
    margin: 2em;
}
li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.15em;
    color: white;
    padding: 1em;
    display: none;
}
.spell-dot {
    background-color: black;
    margin: 0.5em;
    width: 95%;
    height: 57px;
}
.spell-dot:hover {
    cursor: crosshair;
}
.demo {
    width: 95%;
    /* display: flex; */
    display: none;
}
.description {
    font-weight: 300;
    letter-spacing: 0.075em;
    display: fixed;
    left: 0;
    top: 0;
    width: 40%;
    margin: 1.5em;
    text-align: justify;
}
.illustration {
    position: relative;
    left: 10em;
    font-weight: 500;
    background-color: black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 2em;
}
img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    filter: opacity(95%);
}
img:hover {
    filter: opacity(75%);
    cursor: crosshair;
}
footer {
    font-size: 10px;
    color: rgb(100,100,100);
    position: fixed;
    left: 0;
    bottom: 2em;
    width: 100%;
    padding: 1em;
    text-align: center;
}