@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}
header {
    padding: 20px;
    width: 100%;
}
h1 {
    font-weight: 300;
    letter-spacing: 1.5em;
    text-align: center;
}
.spell-dot > p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.15em;
    color: white;
    padding-left: 0.75em;
    display: none;
}
.spell-dot {
    background-color: black;
    margin: 0.5em auto;
    width: 80%;
    height: 57px;
}
.spell-dot:hover {
    cursor: context-menu;
}
.demo {
    width: 80%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.description {
    font-weight: 300;
    letter-spacing: 0.075em;
    width: 500px;
    margin: 1.5em;
    text-align: justify;
}
.illustration {
    font-weight: 500;
    filter: invert(10%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 2em 100px 2em 100px;
}
img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    filter: opacity(95%);
}
img:hover {
    filter: invert(90%);
    cursor: zoom-in;
}
footer {
    font-size: 10px;
    color: rgb(100,100,100);
    background-color: rgba(255,255,255,0.85);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    text-align: center;
}